:root {
align-items: center;
justify-content: center;
border-radius: 8px;
}


.logo-text {
font-size: 18px;
font-weight: 600;
}

.logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('LogoOFT.jpg');
  background-size: cover;
}
