:root {
align-items: center;
justify-content: center;
border-radius: 8px;
}


.logo-text {
font-size: 18px;
font-weight: 600;
}

.logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('LogoOFT.jpg');
  background-size: cover;
}

.nav a {
margin-left: 16px;
text-decoration: none;
color: var(--dark);
}


.btn-primary {
background: var(--primary);
/*color: white !important;*/
padding: 8px 14px;
border-radius: 6px;
}


.container {
max-width: 1000px;
margin: 40px auto;
padding: 0 20px;
}


.hero {
text-align: center;
margin-bottom: 40px;
}


.hero h1 {
font-size: 36px;
margin-bottom: 12px;
}


.hero p {
color: var(--gray);
margin-bottom: 20px;
}

.card {
background: white;
border-radius: 12px;
padding: 16px;
display: flex;
gap: 12px;
}


.avatar {
width: 50px;
height: 50px;
border-radius: 50%;
background-image: url("TommyAvatar.jpg");
background-size: cover;
background-position: center;
}

.feed {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.of-card {
  background: #fff;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  overflow: hidden;
}

.of-header {
  display: flex;
  align-items: center;
  padding: 12px;
}

.of-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.of-sub {
  font-size: 0.8rem;
  color: gray;
}

.of-media {
  width: 100%;
  display: block;
}

.of-caption {
  padding: 12px;
  font-size: 0.95rem;
}


.card-content h3 {
font-size: 16px;
}


.card-content p {
font-size: 14px;
color: var(--gray);
}
