body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 40px);
  gap: 4px;
  justify-content: center;
  margin: 20px 0;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: default;
}

.cell.highlight {
  background: #00aff0;
  color: white;
}

#word-list {
  list-style: none;
  padding: 0;
  display: None
}

#word-list li {
  cursor: pointer;
  display: inline-block;
  margin: 6px 10px;
  padding: 4px 8px;
  border-radius: 6px;
}

#word-list li.found {
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none !important;
  text-align: left;
}
.question {
  text-align: left;
  font-size: 20px
  margin-bottom: 20px;
}

.answer {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 6px;
  background: #f0f0f0;
}

.answer.found {
  text-decoration: underline;
  background: #d0f0ff;
}
